<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <
  <title>Dinosaurs list</title>
</head>
<body>

<h1>Dinosaurs</h1>
<h2>A list</h2>

<% @dinosaurs.each do |dinosaur| %>
  <p><%= link_to dinosaur.name, dinosaur_path(dinosaur.id)%></p>
<% end %>

<hr>

<%= link_to "[New Dinosaur]", new_dinosaur_path %>

</body>
</html>
